:root{
    --main-font-family: Signika,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    --title-font: ;
    --title-font-size ;
    
}

#full-doc{
    height: 100%;
    width: 100%;
}
h1{
    font-family: var(--main-font-family);
    text-align: center;
    font-weight: 400;
    font-size: 55px;
}
h2{
    font-family: var(--main-font-family);
    text-align: center;
}
p{
    font-family: var(--main-font-family);
    text-align: center;
    font-size: 18px
}

#nav-parent{
    background-color: rgb(64,89,107);
}
#nav-container{
    color: rgb(255, 213, 107);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 0 600px 0 600px;
}
.nav{
    text-align: center;
    font-size: 19px;
}
#head-container{
    background-color: rgb(85,192,236);
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 100px;
    font-family: var(--main-font-family);
    height: 650px;
}
#intro-container{
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    animation-name: title-in;
    animation-duration: 1.5s;
    position: relative;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode:forwards;
}
@keyframes title-in{
    0%{
        opacity: 0;
        top: -90px;
    }100%{
        opacity: 1;
        top: 0px;
    }
}
#subtitle{
    color: white;
    font-size: 30px;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;
    animation-name: subtitle-in;
    animation-duration: 1.5s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes subtitle-in{
    0%{
        opacity: 0;
        top: -90px;
    }
    100%{
        opacity: 1;
        top: 0px;
    }
}
.add-to-slack{
    position: relative;
    height: 60px;
    width: 270px;
    font-size: 20px;
    display: grid;    
}
#button1{
    position: relative;
    opacity: 0;
    animation-name: button-in;
    animation-duration: 1.5s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}
@keyframes button-in{
    0%{
        opacity: 0;
        top: -90px;
    }100%{
        opacity: 1;
        top: 0px;
    }
}
#button-text{
    position: relative;
    top: -33px;
}
.slack-image{
    height: auto;
    width: 50px;
}
#tickybot-img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    opacity: 0;
    animation-name: tickybot-in;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
    position: relative;
}
@keyframes tickybot-in{
    0%{
        opacity: 0;
        top: -60px;
    }100%{
        opacity: 1;
        top: 0px;
    }
}
#what-is{
    position: relative;
    opacity: 0;
    animation-name: description-in;
    animation-duration: 1.5s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}
@keyframes description-in{
    0%{
        opacity: 0;
        top: -60px;
    }100%{
        opacity: 1;
        top: 0;
    }
}
#description-container{
    position: relative;
    display: flex;
/*    grid-template-columns: 40% 40%;*/
    width: 800px;
    flex-direction: row;
    font-family: var(--main-font-family);
    left: 20%;
    position: relative;
    top: 40px;
}
#blue-line1{
    position: relative;
    background-color: rgb(85,192,236);
    height: 3px;
    width:140px;
    left:663px;
    top:-20px;
    position: relative;
    opacity: 0;
    animation-name: line-in;
    animation-duration: 1.5s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}
@keyframes line-in{
    0%{
        opacity: 0;
        top: -80px;
    }100%{
        opacity: 1;
        top: -20;
    }
}
.description{

}
#support-requests{
    position: relative;
    left: -90px;
    top: 40px;
}
#explainer-section{
    background-color: rgb(144,221,170);
    position: relative;
    top: 60px;

}
.explainer-container{
    font-family: var(--main-font-family);
    display: flex;
    justify-content: center;
    height: 650px;
    width: 100%;
}
#blue-line2{
    position: relative;
    background-color: rgb(85,192,236);
    height: 3px;
    width:120px;
    left:45.8%;
    top:-20px;
}
.explainer-image-box{
    background-color: rgb(64,89,107);
    height: 400px;
    width: 320px;
    margin: 40px 15px 0 15px;
}
.explainer{
    background-color: white;
    width: 320px;
    height: 100px;
    line-height: 30px;
    text-align: center;
}
#contacts-img{
    margin: 64px 40px 70px 40px;
    
}
#message-img{
    margin: 70px 40px 70px 40px;
}
#checklist-img{
    margin: 70px 40px 70px 40px;
}
#start-today{
    position: relative;
    top: 50px;
}
#closing-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 360px;
    padding-bottom: 40px;
}
#blue-line3{
    position: relative;
    background-color: rgb(85,192,236);
    height: 3px;
    width:140px;
    top:17px;
}
#page-bottom{
    background-color: rgb(64,89,107);
    font-family: var(--main-font-family);
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    color: rgba(255,255,255,.8)
}
#top{
    position:fixed;
    background-color: rgb(255,208,90);
    border-radius: 5px;
    height: 50px;
    width: 50px;
    right: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    bottom: 20px;
    opacity: 0;

}
#top-img{
    width: 40px;
    
}
